@page
@model ShopWeb.Pages.Auth.LoginModel
@{
}

@if (!Html.ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger alert-dismissible fade show" asp-validation-summary="All" role="alert">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
             class="bi bi-x-lg" viewBox="0 0 16 16" data-dismiss="alert" style="float:right" cursor="pointer">
            <path d="M1.293 1.293a1 1 0 0 1 1.414 0L8 6.586l5.293-5.293a1 1 0 1 1 1.414 1.414L9.414 8l5.293 5.293a1 1 0 0 1-1.414 1.414L8 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L6.586 8 1.293 2.707a1 1 0 0 1 0-1.414z" />
        </svg>
    </div>
}

<form class="container col-5" method="post">
    <div align="center">
        <img class="mb-4" src="~/Images/online-shopping.png" alt="" width="180" height="180">
        <h3>Login to your account</h3>
    </div>

    <div class="form-group">
        <label for="un" class="control-label">Username</label>
        <input type="text" class="form-control" id="un" asp-for="Email">
    </div>

    <div class="form-group">
        <label for="pw" class="control-label">Password</label>
        <input type="password" class="form-control" id="pw" asp-for="Password">
    </div>

    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" asp-for="RememberMe"> Remember me
        </label><br />
        <p>No account? <a asp-page="Signup">Create one here</a>.</p>
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">© 2021</p>
</form>